.register-wrapper {
  width: 35%;
  min-width: 300px;
  margin: 5rem auto;
  padding: 2rem 2.5rem;
  background-color: #fdfdfd;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  font-family: 'Segoe UI', sans-serif;
}

.register-wrapper h1 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

.register-wrapper p {
  text-align: center;
  color: #666;
  margin-bottom: 1.5rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.2rem;
    width: 100%;
}

.form-group label {
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 1rem;
}

.form-group input {
  padding: 0.6rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-group input:focus {
  border-color: #E07A5F;
  outline: none;
  box-shadow: 0 0 0 3px rgba(224, 122, 95, 0.2);
}

.register-btn {
  width: 100%;
  padding: 0.8rem;
  background-color: #E07A5F;
  color: white;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #d06848;
}


